
#x-value {
    height: 38px;
    width: 85px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

#submitBtn {
    height: 38px;
    margin-right: 10px;
}

#container {
    position: absolute;
    top: 50px;
    left: 50px;
}